<div style="
bottom: 0;
position: fixed;
width: 100%;
z-index:10;" class="">
    <md-subheader class="md-secondary" >Efecto Tripidesvelo - Arte Sonoro y Audiovisual (from Pachuca || CDMX || Playa del Carmen, México to Everywhere) </md-subheader>
</div>




<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
-->



<script type="text/javascript" src="/bundle/app.js"></script>

{% if (process.env.NODE_ENV == 'development') %}
  <script type="text/javascript" src="{{'//' + req.hostname + ':35729/livereload.js'}}"></script>
{% endif %}
