<div layout="column" flex data-ng-controller="IndexController">
    <md-content id="myMainContainer" layout="column" layout-padding flex>
        <md-divider></md-divider>
        <div layout="row" layout-align="space-around start" layout-padding flex>
            <div style="color:pink;" class="left" layout="column" layout-align="center center" flex="60">
              <h2>Efecto Tripidesvelo</h2>
            </div>
        </div>
    </md-content>

    <md-fab-toolbar id="myLowBar" md-open="false" count="0" md-direction="left">
        <md-fab-trigger class="align-with-text">
          <md-button  aria-label="menu" class="md-fab md-primary">
            <md-tooltip>community</md-tooltip>
            <md-icon class="group-icond">group</md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar >
          <md-fab-actions class="md-toolbar-tools">
            <md-button  aria-label="facebook" class="md-button" ng-href="https://facebook.com/efectotripidesvelo" target="_blank">
              <md-icon>face</md-icon>
              Facebook
            </md-button>
          </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
  </div>
