    <div  flex data-ng-controller="TripiController">
      <md-content id="myMainContainer" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs="" flex-gt-xs="15" layout="column">
      </div>
        <div flex-xs="" flex-gt-xs="70" layout="column">
            <md-card ng-repeat="entry in tripiEntries" style="color:white; background-color: rgba(127,127,127, .84);">

           <md-card-header>
             <md-card-avatar>
               <img class="md-user-avatar" src="{{entry.avatar}}"/>
             </md-card-avatar>
             <md-card-header-text>
               <span class="md-title">{{entry.user}}</span>
               <span class="md-subhead">{{entry.phrase}}</span>
             </md-card-header-text>
           </md-card-header>
           <!-- <img ng-src="{{entry.image}}" class="md-card-image" alt="Washed Out"> -->
           <md-card-title>
             <md-card-title-text>
               <span class="md-headline">{{entry.title}}</span>
               <span class="md-subhead">{{entry.subhead}}</span>
             </md-card-title-text>
           </md-card-title>
           <div style="background: black; width: 100%; margin: 0;" class="container slider">

             <div style="display: flex;align-items: center;justify-content: center;" ng-repeat="photo in entry.photos" class="slide" ng-swipe-right="showPrev($index, $parent.$index)" ng-swipe-left="showNext($index, $parent.$index)" ng-show="isActive($index, $parent.$index)">
               <div ng-if="!($index == 0)">
                 <img class="slide" ng-src="{{photo.src}}" />
               </div>
               <div ng-if="($index == 0) && (isActive(0, $parent.$index))">
                 <div class="youtube" id="{{entry.yt_video_ids}}">
                   <img src="https://i.ytimg.com/vi/{{entry.yt_video_ids}}/sddefault.jpg">
                   <div class="play">
                   </div>
                 </div>
               </div>
             </div>
             <!-- <img ng-repeat="photo in entry.photos" class="slide" ng-swipe-right="showPrev($index, $parent.$index)" ng-swipe-left="showNext($index, $parent.$index)" ng-show="isActive($index, $parent.$index)" ng-src="{{photo.src}}" /> -->
             <a class="arrow prev" href="#" ng-click="showPrev(0, $index)"></a>
             <a class="arrow next" href="#" ng-click="showNext(0, $index)"></a>
             <ul class="nav">
               <li ng-repeat="photo in entry.photos" ng-class="{'active':isActive($index, $parent.$index)}">
                 <img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index, $parent.$index);" />
               </li>
             </ul>
           </div>
           <md-card-actions layout="row" layout-align="start center">
             <md-button><i class="material-icons">favorite</i></md-button>
             <md-button><i class="material-icons">share</i></md-button>
             <md-button><i class="material-icons">comment</i></md-button>
           </md-card-actions>
           <md-card-content>
             <p>
               {{entry.text}}
             </p>
           </md-card-content>
           <p></p>
           <p></p>
           <p></p>
            </md-card>

<button ng-click="add()">quiero mas de efectotripidesvelo.com</button>
<p></p>
<p></p>
<p></p>
        </div>


      </md-content>
    </div>
