<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
{% include '../includes/head.html' %}

<body data-ng-controller="StarterController" ng-cloak class="ng-cloak" ng-class="state" layout="column">
    <md-toolbar layout="row" data-ng-include="'/meanStarter/views/system/header.html'" data-role="navigation"></md-toolbar>
    <div data-ng-include="'/admin/views/index.html'"></div>
    {% block content %}{% endblock %}
    <!-- <section class="content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section> -->
    <div style="
    bottom: 50%;
    position: fixed;
    width: 100%;
    left: 40%;
    z-index:-10;">
        <md-subheader class="md-secondary" >Cargando ... / Loading ... </md-subheader>
    </div>

    {% include '../includes/foot.html' %}
</body>

</html>
